#root {
    margin: 0;
    padding: 0;
    background:rgb(245, 245, 245); 
    flex-direction: column;
    min-height: 100vh; 
    --primary-color:#14110f;
    --secondary-color:rgb(235, 78, 98);
    --third-color:#7e7f83;
    --fourth-color:#4abd5d;
    --fifth-color:#f3f3f4;
    --white-color:white;
    --black-color:black;
    

}




  
  .mainHomeDiv {
    padding: 20px; /* Add padding to your main content */
    color: var(--white-color); /* Set text color to contrast with the background */
  }
  