
  
  .social-auth-button:hover {
    background: #e3e5e8; /* Slightly darker shade on hover */
    /* You can adjust the hover effect to your liking */
  }
  
.EmailAuthButtonInSignInPage{
  width: 100%;
  text-align: center;
}

.social-auth-button{
  width:80%;
  position: relative;
  height: 2.5rem;
}

