
.maindivofcardinupcomngmovies{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    
    
}
.MaincardContainerDivForupcomingMovies{
    column-gap: 1.5rem;
    width: 100%;
    
}

.MainCardInUpcomigMovies{
    position: relative;
    border-radius: 2px;
    cursor: pointer;
}


.movienamedivinupcomingmovies{
    transition: transform 0.5s ease-in-out;
    border-radius: inherit;
    background-color: rgb(246, 246, 246);
    color: black;
    border: 1px solid rgb(218, 218, 218);
    border-top: 0px;
    text-align: center;
    position: absolute;
    bottom: 2.5rem;
    width: 90%;
    height: 1.7rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    letter-spacing: -1px;
    
}




.h4headerinupcomingmovies{
    display: flex;
    width: 20%;
    aspect-ratio: 0/3;
    justify-content:flex-end ;
    font-family: Roboto,sans-serif;
    cursor: pointer;
    opacity: 1;
    color: black;
}



.h4headerinupcomingmovies:hover{
    text-shadow:0px 0px 3px rgb(255, 255, 255);
    
}
.ImageInUpcomigMovies{
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
    border: 1px solid rgb(218, 218, 218);
}
.ImageInUpcomigMovies:hover{
    box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
}


