
  
.email-auth-input-label-div{
  width: 100%;
  
} 
  

.email-auth-input-label-div label{
  display: block;
  font-size: 12px;
}

.email-auth-input-label-div input{
  width: 100%;
  border-radius: 3px;
  outline: none;
  border: 1px solid grey;
  padding: 7px;
  font-size: 14px;
}
.email-auth-text-main-div strong{
  display: block;
}
.email-auth-text-main-div small{
  font-size: 13px;
}
.email-auth-text-main-div-container {
  height:20vh;
  position: absolute;
  top: 12%;
  left: 12%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
}
.MainDivForOTPverification{
  height: 45vh;
  display: flex;
  justify-content: center;
}

.formforotpverification{
  height: 20vh;
  width: 80%;
display: flex;
justify-content: space-around;
flex-direction: column;
align-items: start;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
  height: 8px !important;
}
.EmailOtpInputField{
  width: 90%;
}
.css-tccdxk{
gap: 10px !important;
}

