* {
    box-sizing: border-box;
  }
  
  .SecondNavbarMainDiv {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 0;
    background-color:rgb(245, 245, 245);
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    
  }
  .secondMainDivInSecondNavbar{
    display: flex;
    justify-content: flex-start;
  }
  
  .innerMainDivForSecondDicInSecondNavbar h6 {
    text-decoration: none;
    color: var(--black-color);
    cursor: pointer;
    padding-right: 1.5rem;
    font-weight:400;
    letter-spacing: -0.5px;
  }
  
  @media (max-width: 768px) {
    .SecondNavbarMainDiv {
      flex-direction: column;
    }
  }
  .innerMainDivForSecondDicInSecondNavbar h6.selected {
    font-weight:600;
    
}

