
.ModalSearchDivForLocation {
width: 100%;
}
.ModalHeaderForLocation{
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.ModalSearchDivForLocation input {
width: 100%;
padding: 7px 7px 7px 50px;
outline: none;
border: 1px solid rgb(168, 161, 161);

}

.ModalHeaderTextBelowInput{
    text-align: start;
}
.HeaderTitleNameTag {
    cursor: pointer;
    width:100%;
    display: flex;
    position: absolute;
    left:20px;
    bottom: 0px;
    color: red;
    gap:15px;
    font-size: 14px;
}
.AddNewLocationRequestButton{
    position: absolute;
    right:27px;
    top: 23px;
    cursor: pointer;
}
.inputBoxFOrSearchLocation::before {
    content: 'Search your city here';
    color: #ccc; 
    display: block; 
    padding-left: 40px;
    cursor: default;
  }


.SearchShowingBoxForLocation{
    height: 29px;
    text-align: start;
    cursor: pointer;
    color: dark;
    font-size:small;
    border-top:0px solid grey !important;
    border-bottom: .1px solid grey !important;
    background-color: white;

}
.SearchShowingBoxForLocation:hover{
    background-color: #f2efef;
}

.newLocationRequestMainDiv{
    width: 85%;
    
}
.inpurSeparatingDivForNewLocationRequest{
    display: flex;
    justify-content: space-around;
    
}
.newLocationRequestInputClassName{
    position: relative;
    text-align: center;
}
.newLocationRequestInputClassName input{
    width: 90%;
    padding:7px  ;
    margin:3px 3px 15px 3px;
    outline: none;
    border:1px solid grey;
    caret-color: green;
    font-size: 14px;
    color: black;
    border-radius: 0px;

}
.newLocationRequestInputClassName label{
    position: absolute;
    color:grey;
    left:22px;
    top:12px;
    font-size: 13px;
    transition: 0.4s ease-in-out ;
    cursor: text;
    
}
.newLocationRequestInputClassName input:focus ~ label,
.newLocationRequestInputClassName input:valid ~ label{
    background-color: white;
    padding: 2px;
    top:-9px;
    color:darkgreen;
    font-size: 12px;
    left:20px;
    
}
.newLocationRequestInputClassName input:focus {
    color: black;
}
.ModalContentOfTheLocation{
    display: flex;
    justify-content: center;
}