.MainDivForMovieSingleView{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fade 1s ease 0s ;

    }


@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        
        pointer-events: visible;
    
    }
    }

.InnerDivForNameandDirectorInFullMovieView {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 3rem;
    position: absolute;
    bottom: 5rem;
    left: 30rem;
    padding: 1rem; 

}
.namedivinsinglefullmovie{
    position: absolute;
    top:-50px;
}

.contanierdivformovefullview {
    margin: 4rem;
    position: absolute;
    left: 10rem;
    z-index: 1;
    pointer-events: none;

}


.buttonforbookinginfullmoviedetails {
    border: 1px solid rgb(248, 68, 100);
    color: rgb(255, 255, 255);
    background-color: rgb(248, 68, 100);
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 8px;
    width: 100%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    padding: 15px 40px 15px 40px;
    bottom: -100px;
}

.namedivinsinglefullmovie h3{
    color: #d9c5b2;
    font-size: 40px;
    font-weight: bolder;
    font-family: Roboto;
}
.namedivinsinglefullmovie h4{
    font-size:  large;
    color: #d9c5b2;
} 
.namedivinsinglefullmovie p{
    color:#d9c5b2;
}



/* rating and review section */

.RatingAndReviewMainContainerDiv{
    width: 100%;
    margin-bottom: 3rem;
}

.RatingAndReviewHeadingAndSummaryDiv{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-top: 3rem;
    margin-bottom: 1rem;

}
.RatingAndReviewHeaidngIinerDivSection1{
    display: flex;
    justify-content: space-between;
}


.RatingAndReviewSingleContentContainer{
    display: flex;
    justify-content: flex-start;
    column-gap: 3rem;
    flex-wrap: wrap;
 


}
.RatingAndReviewSingleDataContainer {
   width: 30%;
    border: 1px solid rgb(194, 194, 194);
    aspect-ratio: 4/3;
    padding: 2rem;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 2rem;
    text-wrap:wrap ;
    overflow: hidden;

}

.RatingAndReviewUsernameAndStarContainer {
    display: flex;
    justify-content: space-between;
}

.RatingAndReviewTextReviewContainer {
   display: -webkit-box;
   -webkit-line-clamp: 7;
   -webkit-box-orient: vertical;
   overflow: hidden;     
    word-wrap: break-word; 
}
