

.MovieListingMainDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
}


.LanguageMappingInMoveList{
    display: flex;
    column-gap: 0.5rem;
    
     
}
.LanguageSingleClassNameInMoVieListing{
    cursor: pointer;
}
.LanguageSingleClassNameInMoVieListing p {
    border: 1px solid var(--secondary-color);
    color:  var(--secondary-color);
    padding: 3px 15px;
    background-color: var(--white-color);
    border-radius: 20px;
}

.LanguageSingleClassNameInMoVieListing p:hover {
    background-color: var(--secondary-color);
    color: var(--white-color);
}



.MovieDetailsMainDivInMovieListingByLocationAndLanguage{
    display: flex;
    flex-wrap: wrap; 
    width:100%;
    margin: -30px;
}

.LocationofMovieListingHeading {
    -webkit-background-clip: text; /* For older WebKit browsers */
    background-clip: text; /* Standard property */
    color: var(--black-color);
    margin-top: -20px;
    
}
.LocationofMovieListingHeading h5{
    margin: 0;
    padding: 0;
}
.movieDetailsDivinMovieListingBylocatn{
    cursor: pointer;
    
}