.DateDivInTimeOfTheatreBooking {
    height: 27vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .NameAndLanguageContanerIntime {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .NameAndLanguageContanerIntime p {
    font-size: 40px;
    color: var(--black-color);
    letter-spacing: -3px;
  }
  
  .DifferencingContainerInNamenadLangugae {
    background-color: var(--white-color);
    opacity: 0.9;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  }
  
  .DifferencingContainerInDates {
    background-color: var(--white-color);
    height: 12vh;
    display: flex;
    align-items: center;
    font-size: large;
  }
  
  .DivForTheDateInTheShowTime {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .DivForTheDateInTheShowTime p {
    line-height: 15px;
    padding: 0;
    font-size: small;
    margin: 0;
  }
  
  .DivForTheDateInTheShowTimePDiv {
    cursor: pointer;
    border: none;
    text-align: center;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    background-color: var(--white-color);
    color: var(--black-color);
    border: none;
  }
  .DivForTheDateInTheShowTimePDiv .secondP {
    font-weight: bolder;
  }
  .DivForTheDateInTheShowTimePDivSelected .secondP{
    font-weight: bolder;

  }
  .DivForTheDateInTheShowTimePDiv:hover{
    color: var(--secondary-color);
  }
  .DivForTheDateInTheShowTimePDivSelected {
    cursor: pointer;
    border: 1px solid black;
    text-align: center;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    color: var(--white-color);
    background-color: var(--secondary-color);
    border: none;

  }
  .divforscreentheatrenameintimemovielist {
    width: 30%;
  }
  
  .ShowTImeSecondDivInScreenTime {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }
  
  .DivForTHeatreAndShowTImeDifference {
    width: 100%;
    justify-content: space-around;
  }
  
  .DivForTheTimeStylingInTimeListingOfMovieList {
    padding: 10px 25px 10px 25px;
    background-color: rgb(245,245,245);
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    border: 1px solid rgb(188, 187, 187);
    
  }
  
  .TimeContainerInTheTimeListingDivInShowTIme {
    color:var(--fourth-color);
    font-size: small;
  }
  
  .TimeContainerInTheTimeListingDivInShowTIme:first-child {
    margin-left: 0;
  }
  
  .DivForTheTheatreAndScreenShowingInShowTime {
    margin: 15px;
    color: var(--black-color);
    font-size: small;
  }
  
  .DivForTheTheatreAndScreenShowingInShowTime p {
    margin: 0;
    padding: 0;
    width: 60%;
    max-height: 4vh;
  }
  