.MainDivInScreenSeatDetails{
    min-height: 100vh;
}
.InnerDivForSeatArrangementInScreenDetails{
    display:flex;
    justify-content: center;
    column-gap: 3rem;
    align-items: center;

    
}
.SeatDivInScreenDetailsByScreen {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.seatAlphaDiv {
width: 24px;
height: 25px;
background-color:rgb(198, 199, 198) ;
color: var(--black-color);
text-align: center;
border: 1px solid var(--primary-color);
pointer-events: none;


}
.seatAlphaDiv center:hover{
    border: none;
}
.SeatDivInScreenDetailsByScreen :hover
{
    border: 1px solid rgb(148, 146, 146);
    color: rgb(249, 249, 249);
    background-color:rgb(155, 153, 153) ;
}
.seatAlphaDiv center{
    font-size: 11px;
    margin-top: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ContianerDivForTheSeatArrangements{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    padding: 3rem;  
    background: transparent;
    row-gap: 2rem;
    border: 1px solid rgb(36, 32, 32);
    background-color:lightgray;
    box-shadow: inset 10px 10px 102px rgba(0,0,0,0.1);
    
}

.ContianerDivForTheSeatArrangements .nameTheatreScreenDetailsAndSeatArrangement{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* color: ; */
    box-shadow:inset 0px 0px 10px rgba(red, green, blue, 0.1);
}
.nameTheatreScreenDetailsAndSeatArrangement{
    padding-left: 50px;
}
.nameTheatreScreenDetailsAndSeatArrangement div{
    /* position: absolute; */
    width: 20%;
    display: flex;
    /* column-gap: 20px; */
    
}